*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: "FiraSans", sans-serif;
}
input,
textarea,
button {
  font-family: "FiraSans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.invisLink {
  position: relative;
  z-index: 1;
}
.invisLink > a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  overflow: hidden;
  text-indent: 200%;
  white-spacing: nowrap;
}
header .top_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
header .top_line_p {
  font-size: 14px;
  line-height: 21px;
  color: #292929;
}
header .header_menu_desktop {
  background-color: #4da7ec;
  height: 65px;
  line-height: 65px;
}
header .header_menu_desktop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
header .header_menu_desktop .line,
header .header_menu_desktop .line:before,
header .header_menu_desktop .line:after {
  display: block;
  width: 19px;
  height: 3px;
  background-color: #ffffff;
  margin-top: 32px;
  position: relative;
}
header .header_menu_desktop .line:before {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  content: '';
  position: absolute;
  top: -38px;
}
header .header_menu_desktop .line:after {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  content: '';
  position: absolute;
  top: -26px;
}
header .header_menu_desktop_li {
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  padding: 0px 35px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /*&:hover{
        background: linear-gradient(180deg, #ffdf14, #ffc51e, #ffd314);
        height: 71px;
        margin-top: -3px;
        border-bottom: 3px solid #ffa800;
        color: #000000;
        text-transform: uppercase;
      }*/
}
header .header_menu_desktop_li:last-child {
  padding-right: 0;
}
header .header_menu_desktop_li:first-child {
  padding-left: 0;
  padding-right: 0;
  /*&:hover{
          height: 65px;
          background: linear-gradient(180deg, #4da7ec);
          margin-top: 0;
          border: none;
        }*/
}
header .bottom_line {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .bottom_line .header_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .bottom_line .header_address_column {
  padding-right: 20px;
}
header .bottom_line .header_address_column:nth-child(2) {
  padding-right: 60px;
}
header .bottom_line .header_address_column:last-child {
  padding-right: 0;
}
header .bottom_line .header_address_p {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
header .bottom_line .header_dataTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .bottom_line .header_dataTime_p {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  padding-left: 20px;
}
header .bottom_line .header_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .bottom_line .header_phone_column {
  padding-left: 20px;
}
header .bottom_line .header_phone_p {
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  font-weight: 700;
}
.content .banner {
  background-image: url("../img/jpg/slider_back.jpg");
  height: 530px;
  background-repeat: no-repeat;
  background-size: cover;
}
.content .banner_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .banner_info .left {
  padding: 100px 0;
}
.content .banner_info_h1 {
  font-size: 50px;
  line-height: 68px;
  color: #000000;
  font-weight: 700;
  padding-bottom: 55px;
}
.content .banner_info_h1 .orange {
  color: #ffbf20;
}
.content .banner_info_p {
  font-size: 14px;
  line-height: 30px;
  color: #000000;
}
.content .banner_info_btn {
  margin-top: 60px;
  border: 3px solid #56abec;
  border-radius: 30px;
  width: 180px;
  height: 50px;
  line-height: 45px;
  color: #56abec;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.content .banner_info_btn:hover {
  background-color: #56abec;
  color: #ffffff;
}
.content .banner_info .form_cal {
  padding: 40px 30px;
  margin: 20px 0;
  width: 380px;
  height: 480px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 10px solid #eae5e2;
  outline: 1px dashed #eae5e2;
  outline-offset: -20px;
}
.content .banner_info .form_cal_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.content .banner_info .form_cal_line_p {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.content .banner_info .form_cal_line .counter_group_input {
  width: 90px;
  height: 35px;
  border-radius: 30px;
  border: 1px solid #f2f2f2;
  outline: none;
  text-align: center;
  margin: 0 10px;
  font-size: 16px;
  color: #010101;
  font-weight: 700;
  -webkit-box-shadow: inset 2px 2px 12px 3px #f2f2f2;
          box-shadow: inset 2px 2px 12px 3px #f2f2f2;
}
.content .banner_info .form_cal_line .counter_group_span {
  font-size: 20px;
  color: #1d1d1d;
  margin-top: 10px;
}
.content .banner_info .form_cal_results {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.content .banner_info .form_cal_results_p {
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}
.content .banner_info .form_cal_results #sum {
  font-size: 37px;
  line-height: 21px;
  color: #000000;
  font-weight: 700;
  margin: 0 auto;
}
