*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #FFFFFF;
}
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  outline: none;
  font-weight: 400;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover,
button:hover {
  cursor: pointer;
}
.container {
  width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn-main {
  background: #F9C44E;
  border-radius: 4px;
  border: 1px solid #F9C44E;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #2F2F2F;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.fade {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal {
  z-index: 99999;
  width: 455px;
  background-color: #FFFFFF;
  position: fixed;
  top: 5%;
  left: 50%;
  overflow: hidden;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  border-radius: 5px;
  padding: 55px;
}
.modal .thanks_h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #3c3d3e;
  text-align: center;
  display: block;
  padding-bottom: 55px;
}
.modal .thanks_p {
  display: block;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #3c3d3e;
}
.modal .btn-close {
  padding: 20px 90px;
  border: 1px solid #87bb4e;
  background: #87bb4e;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.modal .btn-close:hover {
  background: transparent;
  color: #87bb4e;
}
.modal-close {
  color: #bec2c3;
  position: absolute;
  top: 10px;
  right: 20px;
  text-decoration: none;
  font-size: 40px;
}
.modal-close:hover {
  text-decoration: none;
  color: #1a1b1b;
}
.modal1 {
  z-index: 99999;
  width: 455px;
  background-color: #FFFFFF;
  position: fixed;
  top: 15%;
  left: 50%;
  overflow: hidden;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  border-radius: 5px;
}
.modal1_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 39px 35px;
  width: 100%;
}
.modal1_form-h2 {
  max-width: 415px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #3c3d3e;
  padding-bottom: 15px;
}
.modal1_form-p {
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #626666;
  max-width: 340px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.modal1_form-input {
  width: 100%;
  height: 60px;
  background: #F4F9FF;
  border: 2px solid #F4F9FF;
  font-size: 14px;
  line-height: 23px;
  color: #8d9293;
  padding-left: 28px;
  margin-bottom: 10px;
}
.modal1_form-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 23px;
  color: #8d9293;
}
.modal1_form-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 23px;
  color: #8d9293;
}
.modal1_form-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 23px;
  color: #8d9293;
}
.modal1_form-input::placeholder {
  font-size: 14px;
  line-height: 23px;
  color: #8d9293;
}
.modal1_form-input.error {
  border: 2px solid red;
}
.modal1_form-textarea {
  width: 100%;
  height: 140px;
  resize: none;
  background: #F4F9FF;
  border: 2px solid #F4F9FF;
  font-size: 14px;
  line-height: 23px;
  color: #8d9293;
  padding-top: 10px;
  padding-left: 28px;
  margin-bottom: 20px;
}
.modal1_form-textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 23px;
  color: #8d9293;
}
.modal1_form-textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 23px;
  color: #8d9293;
}
.modal1_form-textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 23px;
  color: #8d9293;
}
.modal1_form-textarea::placeholder {
  font-size: 14px;
  line-height: 23px;
  color: #8d9293;
}
.modal1_form-btn {
  padding: 20px 66px;
  border: 1px solid #87bb4e;
  background: #87bb4e;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.modal1_form-btn:hover {
  background: transparent;
  color: #87bb4e;
}
.modal1-close {
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0.5;
  border: 1px solid #1a1b1b;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #1a1b1b;
}
.modal1-close:hover {
  opacity: 1;
}
.header {
  padding: 15px 0;
  background: #87bb4e;
}
.header .topLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.header_logo_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header_logo-img {
  margin-right: 20px;
}
.header_logo-name {
  font-weight: 700;
  font-size: 26px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header_contact-link {
  font-weight: 900;
  font-size: 20px;
  line-height: 18px;
  color: #FFFFFF;
  margin-right: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header_contact-link:hover {
  color: #E8E8E8;
}
.header_contact-btn {
  border: 1px solid #A5C87E;
  background: transparent;
  padding: 16px 28px;
  border-radius: 6px;
  font-size: 14px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header_contact-btn-icon {
  margin-right: 8px;
}
.header_contact-btn:hover {
  border: 1px solid #FFFFFF;
  color: #E8E8E8;
}
.header_contact-btn:hover .header_contact-btn-icon path {
  fill: #E8E8E8;
}
.content .banner {
  padding: 68px 0 48px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.content .banner-h1 {
  font-weight: 900;
  font-size: 70px;
  line-height: 84px;
  text-transform: uppercase;
  color: #87bb4e;
  max-width: 907px;
  margin-bottom: 15px;
}
.content .banner_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 546px;
  height: 47px;
  background: #87bb4e;
  margin-bottom: 30px;
  border-radius: 6px;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
  position: relative;
}
.content .banner_item:after {
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  content: "";
  position: absolute;
  border: 3px solid transparent;
  border-right: 454px solid #EAEAEA;
  border-radius: 6px;
  bottom: -2px;
  right: -1px;
}
.content .banner_item-span {
  display: inline-block;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  font-size: 26px;
  line-height: 90px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.content .banner-text {
  font-size: 18px;
  line-height: 30px;
  max-width: 475px;
  color: #626666;
  margin-bottom: 17px;
}
.content .banner-btn {
  background: #F9C44E;
  border-radius: 4px;
  border: 1px solid #F9C44E;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #2F2F2F;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 22px 81px;
  margin-bottom: 68px;
}
.content .banner-btn:hover {
  background: transparent;
  color: #f9c44e;
}
.content .banner_row {
  position: relative;
}
.content .banner_row-img {
  position: absolute;
  right: 0;
  bottom: 200px;
}
.content .banner_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 48px;
  padding: 16px 80px 13px 80px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 30px rgba(226, 226, 226, 0.5);
          box-shadow: 0px 5px 30px rgba(226, 226, 226, 0.5);
  border-radius: 6px;
  border: 1px solid #EEF3F9;
}
.content .banner_cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.content .banner_cards .card-img {
  margin-bottom: 10px;
}
.content .banner_cards .card-span {
  display: inline-block;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #3c3d3e;
}
.content .cooperation {
  padding-top: 49px;
}
.content .cooperation_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 60px;
}
.content .cooperation_cards .card {
  background: #FFFFFF;
  border: 1px solid #EEF3F9;
  -webkit-box-shadow: 0px 5px 30px rgba(226, 226, 226, 0.5);
          box-shadow: 0px 5px 30px rgba(226, 226, 226, 0.5);
  border-radius: 6px;
  padding: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.content .cooperation_cards .card:hover {
  border: 1px solid #87bb4e;
  -webkit-box-shadow: 0px 5px 30px rgba(226, 226, 226, 0.5);
          box-shadow: 0px 5px 30px rgba(226, 226, 226, 0.5);
}
.content .cooperation_cards .card_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}
.content .cooperation_cards .card_top-h3 {
  display: inline-block;
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
  text-transform: uppercase;
  color: #87bb4e;
  padding-left: 26px;
}
.content .cooperation_cards .card_title {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #626666;
  padding-bottom: 10px;
}
.content .cooperation_cards .card_line {
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: radial-gradient(50% 50% at 50% 50%, #87bb4e 0%, rgba(135, 187, 78, 0) 100%);
}
.content .cooperation_cards .card .card_li {
  position: relative;
  padding-left: 16px;
  font-size: 16px;
  line-height: 26px;
  color: #626666;
  padding-bottom: 5px;
}
.content .cooperation_cards .card .card_li::after {
  content: "";
  position: absolute;
  background: #87bb4e;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 10px;
  left: 0;
}
.content .cooperation_form {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 80px;
  background: #87bb4e;
  border-radius: 6px;
  padding: 40px 80px;
}
.content .cooperation_form-line {
  display: block;
  width: 4px;
  height: 135px;
  background: #F9C44E;
  border-radius: 5050px;
}
.content .cooperation_form_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.content .cooperation_form_info-h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  display: inline-block;
  padding-bottom: 20px;
  color: #FFFFFF;
}
.content .cooperation_form_info-p {
  display: block;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  max-width: 490px;
}
.content .cooperation_form_info-p a {
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.content .cooperation_form_info-p a:hover {
  color: #E8E8E8;
}
.content .cooperation_form-btn {
  background: #F9C44E;
  border-radius: 4px;
  border: 1px solid #F9C44E;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #2F2F2F;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 22px 81px;
  margin-top: auto;
}
.content .cooperation_form-btn:hover {
  color: #FFFFFF;
  background: transparent;
}
.content .advantages {
  padding: 60px 0;
}
.content .advantages_h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #3c3d3e;
  text-align: center;
}
.content .advantages_h3 {
  display: inline-block;
  padding: 40px 0 30px 0;
  font-size: 20px;
  line-height: 26px;
  color: #3c3d3e;
}
.content .advantages_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 26px;
}
.content .advantages_cards.center {
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}
.content .back_form {
  padding: 60px 0;
  background: #87bb4e;
}
.content .back_form .contact_form {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 100px;
}
.content .back_form .form {
  height: 100%;
  padding: 55px 40px 57px 40px;
}
.content .back_form .form_mob-img {
  display: none;
}
.content .back_form .form_h2 {
  display: inline-block;
  font-size: 26px;
  line-height: 32px;
  max-width: 464px;
  margin: 0 auto;
  text-align: center;
  color: #3c3d3e;
  padding-bottom: 22px;
}
.content .back_form .form_h2 .green {
  display: block;
  font-size: 45px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 900;
  color: #87bb4e;
}
.content .back_form .form_p {
  display: block;
  font-size: 14px;
  line-height: 23px;
  max-width: 477px;
  margin: 0 auto;
  margin-bottom: 26px;
  text-align: center;
  color: #626666;
}
.content .back_form .form_box {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.content .back_form .form_box_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.content .back_form .form_box_column-label {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #3c3d3e;
}
.content .back_form .form_box_column-input {
  background: #EEF3F9;
  height: 50px;
  border: 1px solid #EEF3F9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 16px;
  color: #626666;
}
.content .back_form .form_box_column-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #626666;
}
.content .back_form .form_box_column-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #626666;
}
.content .back_form .form_box_column-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #626666;
}
.content .back_form .form_box_column-input::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #626666;
}
.content .back_form .form_box-btn {
  background: #F9C44E;
  border-radius: 4px;
  border: 1px solid #F9C44E;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #2F2F2F;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 22px 0;
}
.content .back_form .form_box-btn:hover {
  background: transparent;
  color: #F9C44E;
}
.content .back_form .right-img {
  height: 100%;
}
.content .back2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 55px 0;
}
.content .back2 .portfolio {
  padding-bottom: 178px;
}
.content .back2 .portfolio-h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 70px;
  text-align: center;
  color: #3c3d3e;
}
.content .back2 .portfolio_sl {
  overflow-x: hidden;
  position: relative;
}
.content .back2 .portfolio_slider {
  outline: none;
  opacity: 0.65;
  margin: 0 60px;
}
.content .back2 .portfolio_slider.slick-active {
  opacity: 1;
}
.content .back2 .portfolio .sl_left_arrow {
  border: 1px solid #87BB4E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 23%;
}
.content .back2 .portfolio .sl_right_arrow {
  border: 1px solid #87BB4E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  right: 23%;
  margin-top: -30px;
}
.content .back2 .partners-h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #3c3d3e;
  padding-bottom: 40px;
  text-align: center;
}
.content .back2 .partners-h3 {
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  color: #3c3d3e;
  padding-bottom: 20px;
}
.content .back2 .partners_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 13px;
  margin-bottom: 40px;
}
.content .back2 .partners_cards .card {
  /*border: 1px solid #EEF3F9;
          box-shadow: 0px 5px 30px rgba(226, 226, 226, 0.5);
          border-radius: 6px;*/
}
.content .back2 .partners_cards .card-img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .back2 .contact_group {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 30px;
}
.content .back2 .contact_group .contact_info {
  margin-top: 16px;
  background: #FFFFFF;
  padding: 40px 30px;
  border: 1px solid #EEF3F9;
  -webkit-box-shadow: 0px 5px 30px rgba(226, 226, 226, 0.5);
          box-shadow: 0px 5px 30px rgba(226, 226, 226, 0.5);
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}
.content .back2 .contact_group .contact_info-h3 {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #3c3d3e;
  padding-bottom: 34px;
}
.content .back2 .contact_group .contact_info_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.content .back2 .contact_group .contact_info_row.top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.content .back2 .contact_group .contact_info_row .left-icon {
  margin-right: 20px;
}
.content .back2 .contact_group .contact_info_row .right_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  color: #3c3d3e;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.content .back2 .contact_group .contact_info_row .right_link:hover {
  color: #87bb4e;
}
.content .back2 .contact_group .contact_info_row .right_link-icon:first-child {
  margin-left: 17px;
  margin-right: 8px;
}
.content .back2 .contact_group .contact_info_row .right-link {
  font-size: 14px;
  line-height: 18px;
  color: #626666;
  padding-bottom: 10px;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.content .back2 .contact_group .contact_info_row .right-link:hover {
  color: #87bb4e;
}
.content .back2 .contact_group .contact_info_row .right-link:last-child {
  padding-bottom: 0;
}
.content .back2 .contact_group .contact_info_row .right-address {
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: #3c3d3e;
  max-width: 236px;
}
.content .back2 .contact_group .contact_info_row .right-mail {
  font-size: 16px;
  line-height: 18px;
  color: #3c3d3e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.content .back2 .contact_group .contact_info_row .right-mail:hover {
  color: #87bb4e;
}
.footer_top {
  background: #3c3d3e;
  padding: 38px 0;
}
.footer_top_line {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 59px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer_logo-span {
  display: inline-block;
  padding-left: 16px;
  font-size: 14px;
  line-height: 23px;
  color: #E8E8E8;
  max-width: 327px;
}
.footer_link-phone {
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  color: #FFFFFF;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer_link-phone:hover {
  color: #87bb4e;
}
.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer_social-link {
  margin-right: 20px;
}
.footer_social-link:last-child {
  margin-right: 0;
}
.footer_right-btn {
  background: #87bb4e;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #87bb4e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 18px 52px;
}
.footer_right-btn:hover {
  background: transparent;
  color: #87bb4e;
}
.footer_bottom {
  background: #1a1b1b;
  padding: 12px 0;
}
.footer_bottom_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.footer_bottom_line-span {
  font-size: 14px;
  line-height: 16px;
  color: #bec2c3;
}
.footer_bottom_line-span.link {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer_bottom_line-span.link:hover {
  color: #8d9293;
}
@media (max-width: 1320px) {
  .container {
    width: 980px;
  }
  .content .banner_row {
    position: relative;
  }
  .content .banner_row-img {
    position: absolute;
    right: 0;
    bottom: 383px;
    width: 483px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content .banner_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 48px;
    padding: 16px 80px 13px 80px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5px 30px rgba(226, 226, 226, 0.5);
            box-shadow: 0px 5px 30px rgba(226, 226, 226, 0.5);
    border-radius: 6px;
    border: 1px solid #EEF3F9;
  }
  .content .cooperation_form {
    display: grid;
    background: #87bb4e;
    border-radius: 6px;
    padding: 40px 80px;
  }
  .content .cooperation_form-btn {
    background: #F9C44E;
    border-radius: 4px;
    border: 1px solid #F9C44E;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #2F2F2F;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    padding: 22px 70px;
    margin-top: auto;
  }
  .content .cooperation_form-btn:hover {
    color: #FFFFFF;
    background: transparent;
  }
  .content .advantages_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 26px;
  }
  .content .advantages_cards .card_img {
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content .advantages_cards.center {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  .content .back_form .contact_form {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 0;
  }
  .content .back_form .form {
    height: 100%;
    padding: 55px 40px 57px 40px;
  }
  .content .back_form .form_h2 {
    display: inline-block;
    font-size: 26px;
    line-height: 32px;
    max-width: 464px;
    margin: 0 auto;
    text-align: center;
    color: #3c3d3e;
    padding-bottom: 22px;
  }
  .content .back_form .form_h2 .green {
    display: block;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 900;
    color: #87bb4e;
  }
  .content .back_form .right-img {
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content .back2 .portfolio {
    padding-bottom: 178px;
  }
  .content .back2 .portfolio-h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 70px;
    text-align: center;
    color: #3c3d3e;
  }
  .content .back2 .portfolio_sl {
    overflow-x: hidden;
    position: relative;
  }
  .content .back2 .portfolio_slider {
    outline: none;
    opacity: 0.65;
    margin: 0 60px;
  }
  .content .back2 .portfolio_slider.slick-active {
    opacity: 1;
  }
  .content .back2 .portfolio .sl_left_arrow {
    border: 1px solid #87BB4E;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 23%;
  }
  .content .back2 .portfolio .sl_right_arrow {
    border: 1px solid #87BB4E;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 50%;
    right: 23%;
    margin-top: -30px;
  }
  .content .back2 .contact_group {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .content .back2 .contact_group .contact_info {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 16px;
  }
  .content .back2 .contact_group .contact_map {
    height: 420px;
  }
  .footer_top {
    background: #3c3d3e;
    padding: 38px 0;
  }
  .footer_top_line {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 59px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 991px) {
  .container {
    width: 765px;
  }
  .content .banner_row {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
  }
  .content .banner_row-img {
    position: relative!important;
    right: 0;
    bottom: 0;
    display: block;
    margin: 0 auto;
  }
  .content .cooperation_cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-bottom: 60px;
  }
  .content .cooperation_form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    background: #87bb4e;
    border-radius: 6px;
    padding: 40px 80px;
    position: relative;
  }
  .content .cooperation_form-line {
    position: absolute;
    display: block;
    width: 4px;
    height: 65px;
    background: #F9C44E;
    border-radius: 5050px;
    top: 50%;
    margin-top: -35px;
    left: 80px;
  }
  .content .cooperation_form_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .content .cooperation_form_info-p {
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    max-width: 490px;
    padding-left: 30px;
  }
  .content .cooperation_form-btn {
    background: #F9C44E;
    border-radius: 4px;
    border: 1px solid #F9C44E;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #2F2F2F;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    padding: 22px 70px;
    margin: 0 auto;
    margin-top: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .content .cooperation_form-btn:hover {
    color: #FFFFFF;
    background: transparent;
  }
  .content .back2 .partners_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 13px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .header_contact {
    display: none;
  }
  .content .banner-h1 {
    font-weight: 900;
    font-size: 55px;
    line-height: 64px;
    text-transform: uppercase;
    color: #87bb4e;
    max-width: 907px;
    margin-bottom: 15px;
  }
  .content .banner_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 546px;
    height: 47px;
    background: #87bb4e;
    margin-bottom: 30px;
    border-radius: 6px;
    -webkit-transform: skewX(10deg);
            transform: skewX(10deg);
    position: relative;
  }
  .content .banner_item:after {
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
    content: "";
    position: absolute;
    border: 3px solid transparent;
    border-right: 454px solid #EAEAEA;
    border-radius: 6px;
    bottom: -2px;
    right: -1px;
  }
  .content .banner_item-span {
    display: inline-block;
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
    font-size: 22px;
    line-height: 90px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .content .banner_row {
    position: relative;
  }
  .content .banner_row-img {
    width: 100%!important;
    display: block;
    max-width: 100%;
    height: auto;
  }
  .content .banner_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px;
    padding: 16px 30px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5px 30px rgba(226, 226, 226, 0.5);
            box-shadow: 0px 5px 30px rgba(226, 226, 226, 0.5);
    border-radius: 6px;
    border: 1px solid #EEF3F9;
  }
  .content .cooperation_form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 80px;
    background: #87bb4e;
    border-radius: 6px;
    padding: 40px;
  }
  .content .cooperation_form-line {
    left: 40px;
    margin-top: -55px;
  }
  .content .advantages_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 26px;
  }
  .content .advantages_cards.center {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .content .back_form .contact_form {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .content .back_form .form {
    height: 100%;
    padding: 55px 40px 57px 40px;
  }
  .content .back_form .form_mob-img {
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 20px;
  }
  .content .back_form .right {
    display: none;
  }
  .content .back_form .right-img {
    height: 100%;
  }
  .footer_top {
    background: #3c3d3e;
    padding: 38px 0;
  }
  .footer_top_line {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .footer_logo_img {
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer_bottom {
    background: #1a1b1b;
    padding: 12px 0;
  }
  .footer_bottom_line-span {
    font-size: 14px;
    line-height: 16px;
    color: #bec2c3;
    margin-bottom: 5px;
  }
}
@media (max-width: 479px) {
  .container {
    width: 100%;
  }
}
