*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: #FFFFFF;
}

input, textarea, button {
  font-family: "Open Sans", sans-serif;
  outline: none;
  font-weight: 400;
  transition: all 0.2s;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: all 0.2s;
}

a:hover,
button:hover {
  cursor: pointer;
}

.container {
  width: 1245px;
  margin: 0 auto;
  padding: 0 15px;
}


@main-color: #00963F;
@active-color: #0D6F36;

.btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: @main-color;
  background: transparent;
  padding: 15px 40px;
  border: 1px solid @main-color;
  border-radius: 5px;
  transition: all 0.2s;
}
.h1{
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #333333;
}
.h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #333333;
}
.lg-backdrop {
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}
.lg-outer{
  z-index: 99999;
}
.lg-actions .lg-next,
.lg-actions .lg-prev {
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 2px;
  color: #999;
  cursor: pointer;
  display: block;
  font-size: 22px;
  margin-top: -10px;
  padding: 8px 10px 9px;
  position: absolute;
  top: 50%;
  z-index: 1080;
}


.fade {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.menu-overlay {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal_thanks {
  z-index: 999;
  width: 455px;
  background-color: #FFFFFF;
  position: fixed;
  top: 5%;
  left: 50%;
  overflow: hidden;
  text-align: center;
  transform: translateX(-50%);
  display: none;
  border-radius: 5px;
  padding: 55px;
  &-h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #333333;
    text-align: center;
    display: block;
    padding-bottom: 55px;
  }

  &-p {
    display: block;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #4F4F4F;
  }

  &-btn {
    .btn-main;
    margin: 0 auto;
    &:hover {
      border: 1px solid @active-color;
      background: @active-color;
      color: #FFFFFF;
    }
  }

  &-close {
    color: #4F4F4F;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    &:hover {
      color: #333333;
    }
  }
}
.modal {
  z-index: 99999;
  width: 455px;
  background-color: #FFFFFF;
  position: fixed;
  top: 5%;
  left: 50%;
  overflow: hidden;
  text-align: center;
  transform: translateX(-50%);
  display: none;
  border-radius: 5px;
  &_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    padding: 39px 35px;
    width: 100%;
    &-h2 {
      max-width: 415px;
      margin: 0 auto;
      font-weight: 700;
      font-size: 26px;
      line-height: 30px;
      text-align: center;
      color: #333333;
      padding-bottom: 15px;
    }
    &-p {
      font-size: 14px;
      line-height: 23px;
      text-align: center;
      color: #333333;
      max-width: 340px;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    &-input {
      width: 100%;
      height: 60px;
      background: #F4F9FF;
      border: 2px solid #F4F9FF;
      font-size: 14px;
      line-height: 23px;
      color: #4F4F4F;
      padding-left: 28px;
      margin-bottom: 10px;
      &::placeholder {
        font-size: 14px;
        line-height: 23px;
        color: #4F4F4F;
      }
      &.textarea{
        height: 150px;
        resize: none;
      }
      &.error {
        border: 2px solid red;
      }
      &.valid {
        border: 2px solid @main-color;
      }
    }
    &-btn {
      .btn-main;
      &:hover {
        border: 1px solid @active-color;
        background: @active-color;
        color: #FFFFFF;
      }
    }
  }
  &-close {
    color: #4F4F4F;
    position: absolute;
    top: 10px;
    right: 20px;
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
    &:hover {
      color: #333333;
    }
  }
}
.header{
  &_top{
    padding: 30px 0;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    &_center{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px;
      &_row{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &-icon{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25px;
          height: 25px;
          margin-right: 10px;
        }
        &-p{
          font-style: normal;
          font-size: 16px;
          color: #4F4F4F;
        }
        & a.header_top_center_row-p:hover{
          color: @main-color;
        }
      }
    }
    &_right{
      display: flex;
      align-items: center;
      flex-flow: column wrap;
      &_row{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;
        &-icon{
          display: block;
          margin-right: 15px;
        }
        &-p{
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          color: @main-color;
          cursor: pointer;
          transition: all 0.2s;
          &:hover{
            color: @active-color;
          }
        }
      }
      &-btn{
        .btn-main;
        width: 100%;
      }
    }
  }
  &_menu{
    background:@main-color;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    &_ul{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_li{
      padding: 23px 48px;
      border-left: 1px solid rgba(50,177,65,0.2);
      transition: all 0.2s;
      &:last-child{
        border-right: 1px solid rgba(50,177,65,0.2);
      }
      &nk{
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        color: #FCFCFC;
      }
      &_icon{
        display: block;
        margin-left: 5px;
      }
      &_group{
        display: flex;
        align-items: center;
      }
      &.has_children{
        position: relative;
      }
      &.active,
      &.active_li,
      &:hover{
        background: @active-color;
      }
    }
    .sub_menu{
      position: absolute;
      z-index: 9;
      width: 100%;
      left: 0;
      top: 67px;
      background: #FFFFFF;
      display: none;
      align-items: flex-start;
      justify-content: flex-start;
      flex-flow: column wrap;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      &_li{
        border: 1px solid #F2F2F2;
        padding: 15px;
        width: 100%;
        transition: all 0.2s;
        &nk{
          font-size: 14px;
          line-height: 20px;
          color: #4F4F4F;
          transition: all 0.2s;
        }
        &:hover{
          border: 1px solid @active-color;
          background: @active-color;
        }
        &:hover .sub_menu_link{
          color: #ffffff;
        }
      }
    }
  }
}
.banner{
  height: 470px;
  width: 100%;
  &_swiper{
    width: 100%;
    height: 100%;
    .swiper-slide{
      &-img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    & .swiper-button-next {
      right: 15%;
    }
    & .swiper-button-prev {
      left: 15%;
    }
    & .swiper-button-next:after {
      display: none;
    }
    & .swiper-button-prev:after {
      display: none;
    }
    & .swiper-button-next,
    & .swiper-button-prev{
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: @main-color;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
  }
}
.about{
  margin-top: 40px;
  &.other_page{
    margin-top: 50px;
  }
  &_banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 30px;
    &_item{
      height: 325px;
      &-img{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &_description{
      margin-bottom: 60px;
    }
  }
  &_directions{
    padding: 70px 0;
    &-h2{
      padding-bottom: 40px;
    }
    &_cards{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-gap: 20px;
      & .item{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
        background: @main-color;
        padding: 25px 15px;
        font-weight: 600;
        font-size: 15px;
        line-height: 180%;
        color: #FFFFFF;
        text-align: center;
        border: 1px solid @main-color;
        border-radius: 5px;
        &:hover{
          border: 1px solid @active-color;
          background: @active-color;
        }
      }
    }
  }
}
.news{
  padding: 55px 0;
  background: #F7F7F8;
  &.other_page{
    background: #FFFFFF;
    padding: 50px 0 100px 0;
  }
  &-h1{
    padding-bottom: 50px;
  }
  &-h2{
    padding-bottom: 40px;
  }
  &_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin-bottom: 40px;
    &.other_page{
      margin-bottom: 60px;
    }
    & .card{
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
      justify-content: flex-start;
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
      &:hover{
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      }
      &:hover .card_title{
        color: @active-color;
      }
      &_top{
        position: relative;
        height: 220px;
        &-img{
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &-data{
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 10px 20px;
          background: @main-color;
          font-weight: 600;
          font-size: 14px;
          line-height: 180%;
          color: #FFFFFF;
        }
      }
      &_title{
        font-weight: 600;
        font-size: 16px;
        line-height: 180%;
        color: #333333;
        padding: 15px 17px 20px 17px;
        transition: all 0.2s;
      }
    }
  }
  &_pagination{
    display: flex;
    justify-content: flex-start;
    .pageNum{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &_li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin: 0 5px;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        border-radius: 5px;
        transition: all 0.2s;
        &.controls{
          border: 1px solid @main-color;
          background: @main-color;
          &:hover{
            background: @active-color;
            border: 1px solid @active-color;
          }
        }
        &.active,
        &:hover{
          border: 1px solid @main-color;
        }
        &.active .pageNum_a,
        &:hover .pageNum_a{
          color: @main-color;
        }
      }
      &_a{
        font-weight: 600;
        font-size: 16px;
        color: #4F4F4F;
      }
    }
  }
  &_more-btn{
    .btn-main;
    width: fit-content;
    &:hover{
      color: #FFFFFF;
      background: @active-color;
      border: 1px solid @active-color;
    }
  }
}
.information{
  margin: 70px 0;
  &-h2{
    padding-bottom: 40px;
  }
  &_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    & .item{
      height: 250px;
      &-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &-title{
        position: relative;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin-left: 20px;
        margin-top: -70px;
        background: @main-color;
        border-radius: 5px;
        padding: 10px 30px;
        font-weight: 600;
        font-size: 16px;
        line-height: 180%;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }
}
.event{
  margin: 70px 0;
  &-h2{
    padding-bottom: 40px;
  }
  &_cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    &.other_page{
      margin-bottom: 60px;
    }
    & .card{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
      transition: all 0.2s;
      &:hover{
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      }
      &:hover .card_right-title{
        color: @active-color;
      }
      &_left{
        min-width: 178px;
        height: 178px;
        &-img{
          width: 100%;
          height: 100%;
        }
      }
      &_right{
        padding: 30px;
        &-data{
          display: block;
          font-size: 14px;
          line-height: 180%;
          color: #828282;
          margin-bottom: 10px;
        }
        &-title{
          font-weight: 600;
          font-size: 16px;
          line-height: 180%;
          color: #333333;
          transition: all 0.2s;
        }
      }
    }
  }
}
.cooperation{
  background: #F7F7F8;
  padding: 70px 0;
  &_wrapper{
    position: relative;
    & .swiper-button-next {
      right: 0%;
    }
    & .swiper-button-prev {
      left: 0%;
    }
    & .swiper-button-next:after {
      display: none;
    }
    & .swiper-button-prev:after {
      display: none;
    }
    & .swiper-button-next,
    & .swiper-button-prev{
      width: 40px;
      height: 40px;
      margin-top: -40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: @main-color;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
  }
  &_swiper{
    max-width: 1045px;
    margin: 0 auto;
    height: 100%;
    .swiper-slide{
      &-img{
        display: block;
        min-height: 90px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 10px;
      }
      &-title{
        display: block;
        font-size: 11.9px;
        line-height: 160%;
        color: #4F4F4F;
      }
    }
  }
}
.navigation{
  background: #F7F7F8;
  .nav{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    font-size: 14px;
    line-height: 140%;
    color: #828282;
    & a,
    & .breadcrumb_last {
      font-size: 14px;
      line-height: 140%;
      color: #828282;
      padding: 0 10px;
      transition: all .2s;
    }
    & .breadcrumb_last,
    & a:hover {
      color: @main-color;
    }
  }
}
.single_page{
  padding-top: 50px;
  &-h1{
    padding-bottom: 50px;
  }
  &-data{
    display: block;
    font-size: 16px;
    line-height: 180%;
    color: #828282;
    margin-bottom: 30px;
  }
  &_content{
    &-img{
      float: left;
      padding: 0 30px 30px 0;
    }
  }
}
.other_news{
  clear: both;
  padding: 100px 0;
  &-h2{
    padding-bottom: 40px;
  }
  &_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    & .card{
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
      justify-content: flex-start;
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
      &:hover{
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      }
      &:hover .card_title{
        color: @active-color;
      }
      &_top{
        position: relative;
        height: 220px;
        &-img{
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &-data{
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 10px 20px;
          background: @main-color;
          font-weight: 600;
          font-size: 14px;
          line-height: 180%;
          color: #FFFFFF;
        }
      }
      &_title{
        font-weight: 600;
        font-size: 16px;
        line-height: 180%;
        color: #333333;
        padding: 15px 17px 20px 17px;
        transition: all 0.2s;
      }
    }
  }
}
.gallery{
  margin: 100px 0;
  &-h2{
    padding-bottom: 40px;
  }
  &_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    & .card{
      position: relative;
      overflow: hidden;
      transition: all 0.2s;
      &:hover .card-img {
        transform: scale(1.2);
      }
      &-img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 1s;
      }
    }
  }
}
.default_text{
  & a{
    font-size: 16px;
    color: @main-color;
    &:hover{
      color: @active-color;
    }
  }
  & img{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }
  & p{
    font-size: 16px;
    line-height: 180%;
    color: #4F4F4F;
    padding-bottom: 10px;
  }
  & ul{
    margin: 30px 0;
  }
  & ul li{
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    line-height: 180%;
    color: #4F4F4F;
    &:after{
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      width: 8px;
      height: 8px;
      background: @main-color;
      border-radius: 50%;
    }
  }
  & ol{
    margin: 30px 0;
    padding: 0 0 0 20px;
  }
  & ol li{
    font-size: 16px;
    line-height: 180%;
    color: #4F4F4F;
  }
  & h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #333333;
    padding-bottom: 30px;
  }
  & h3{
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    color: #333333;
    padding-bottom: 30px;
  }
  &-img{
    float: left;
    padding: 0 30px 30px 0;
  }
}
.footer{
  background: #202a38;
  padding: 15px 0;
  &_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-p{
      font-size: 14px;
      line-height: 19px;
      color: #EBEEF1;
      & a{
        color: #EBEEF1;
        &:hover{
          color: @main-color;
        }
      }
    }
  }
}

@media (max-width: 1245px) {
  .container {
    width: 980px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 765px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .container {
    width: 100%;
  }
}