*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  background: #FFFFFF;
  overflow-x: hidden;
}

input, textarea, button {
  font-family: "Roboto Slab", sans-serif;
  outline: none;
  font-weight: 400;
  transition: all 0.2s;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: all 0.2s;
}

a:hover,
button:hover {
  cursor: pointer;
}

.container {
  width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}


@main-color: #F7E11F;

.btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 107.3%;
  text-align: center;
  text-transform: uppercase;
  color: #262626;
  padding: 16px 30px;
  background: @main-color;
  border: 1px solid @main-color;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.11);
  border-radius: 100px;
  transition: all 0.2s;
}


.header{
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
  }
  &__city{
    position: relative;
    &-line{
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 107.3%;
      color: #868686;
      padding-bottom: 5px;
      border-bottom: 1px solid #DEDEDE;
      & img{
        margin-left: 20px;
      }
    }
    &-dropdown{
      position: absolute;
      top: 25px;
      left: 0;
      display: none;
      align-items: flex-start;
      flex-flow: column;
      background: #FFFFFF;
      box-shadow: 10px 16px 23px rgba(0, 0, 0, 0.05);
      width: 230px;
      padding: 30px 20px;
      &.active{
        display: flex;
      }
    }
    &-link{
      display: block;
      font-weight: 700;
      font-size: 18px;
      line-height: 86.3%;
      color: #4D4D4D;
      margin: 10px 0;
    }
  }
  &__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  &__time{
    font-weight: 400;
    font-size: 16px;
    line-height: 107.3%;
    color: #C0C0C0;
  }
  &__address{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 107.3%;
    color: #C0C0C0;
    font-style: normal;
    &-icon{
      display: block;
      margin-right: 10px;
    }
  }
  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 18px;
  }
  &__logo{
    display: flex;
    align-items: center;
    &-text{
      display: block;
      font-family: 'Rubik Mono One';
      margin-left: 15px;
      font-weight: 400;
      font-size: 17px;
      line-height: 111.8%;
      color: #404040;
      max-width: 240px;
    }
  }
  &__row{
    display: flex;
    align-items: center;
    gap: 25px;
    &-mail{
      display: block;
      font-weight: 700;
      font-size: 16px;
      line-height: 107.3%;
      text-transform: uppercase;
      color: #CFCFCF;
      &:hover{
        color: @main-color;
      }
    }
    &-phone{
      display: block;
      font-weight: 700;
      font-size: 16px;
      line-height: 107.3%;
      text-transform: uppercase;
      color: #1D1D1D;
      &:hover{
        color: @main-color;
      }
    }
  }
  &__btn{
    &:hover{
      box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.4);
    }
  }
  &__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    &-wrapper{
      border-top: 1px solid #EDEDED;
      border-bottom: 1px solid #EDEDED;
    }
    &-item{
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 15px 30px;
      border-radius: 10px 10px 0 0;
      position: relative;
      &:hover{
        background: #F6E11F;
      }
      &:hover > .header__menu-item-icon{
        transform: rotate(180deg);
      }
      &:hover > .header__menu-item-icon path{
        stroke: #FFFFFF;
      }
      & > .sub__menu{
        display: none;
        flex-flow: column;
        position: absolute;
        z-index: 22;
        top: 48px;
        left: -70px;
        background: #FFFFFF;
        box-shadow: 10px 16px 23px rgba(0, 0, 0, 0.05);
        padding: 40px 80px;
        width: 780px;
      }
    }
    &-link{
      font-weight: 800;
      font-size: 16px;
      line-height: 107.3%;
      text-transform: uppercase;
      color: #4D4D4D;
    }
    & .sub__menu{
      &-item-1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        max-width: 340px;
        position: relative;
        padding: 0 20px;
        &:hover > .header__menu-item-icon{
          transform: rotate(180deg);
        }
        &:hover > .header__menu-item-icon path{
          stroke: rgba(255, 24, 24, 1);
        }
        & .sub__menu{
          display: none;
          flex-flow: column;
          position: absolute;
          right: 0;
          top: 0;
          transform: translateX(100%);
        }
      }
      &-link-1{
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 86.3%;
        color: #4D4D4D;
      }
      &-item-2{
        display: flex;
        align-items: center;
        padding: 10px 0 10px;
        border-bottom: 1px solid #ECECEC;
        &:first-child{
          padding-top: 0;
        }
      }
      &-link-2{
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 86.3%;
        color: #ECECEC;
        &:hover{
          color: #252525;
        }
      }
    }
  }
}
.cms-description-text{
  color: #353535;
  & p{
    font-weight: 600;
    font-size: 19px;
    line-height: 170.19%;
    color: inherit;
    &:not(:last-child){
      margin-bottom: 20px;
    }
  }
  & ul{
    margin-bottom: 20px;
    & li{
      position: relative;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: inherit;
      padding-left: 20px;
      margin-bottom: 15px;
      &:before{
        content: "";
        position: absolute;
        left: 1px;
        top: 7px;
        display: block;
        width: 7px;
        height: 7px;
        background: #F6E11F;
        transform: rotate(45deg);
      }
    }
  }
}
.content{

}
.banner{
  padding: 80px 0 100px;
  background-position: 65% top;
  background-size: 65%;
  background-repeat: no-repeat;
  position: relative;
  &:before{
    content: "";
    width: 250px;
    height: 655px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../img/png/circle-service-back.png);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-position: center center;
    z-index: 22;
  }
  &__top{
    position: relative;
    &-img{
      position: absolute;
      right: -40px;
      bottom: -20px;
    }
  }
  &__circle{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 50%;
    transform: translateX(50%);
    bottom: 100px;
    width: 240px;
    height: 240px;
    background: #F9F9F9;
    box-shadow: 6px 9px 27px rgba(0, 0, 0, 0.09);
    border-radius: 50%;
  }
  &__title{
    font-family: 'Rubik Mono One',sans-serif;
    display: block;
    font-weight: 400;
    font-size: 45px;
    line-height: 121.3%;
    color: #272727;
    max-width: 750px;
    margin-bottom: 50px;
  }
  &__list{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-bottom: 50px;
    &-item{
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 18px;
      line-height: 170.19%;
      color: #707070;
      max-width: 750px;
      position: relative;
      &:before{
        content: "";
        display: block;
        margin-right: 20px;
        width: 25px;
        height: 25px;
        background-image: url(../img/svg/check-banner.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #F6E11F;
        border-radius: 50%;
      }
    }
  }
  &__row{
    display: flex;
    align-items: center;
  }
  &__price{
    display: flex;
    align-items: flex-end;
    gap: 5px;
    font-size: 31px;
    font-weight: 700;
    line-height: 33px;
    margin-right: 40px;
    & span{
      font-weight: 400;
      font-size: 17px;
      line-height: 24px;
      color: #BCBCBC;
    }
  }
  &__info{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 950px;
    margin: 0 auto;
    padding: 100px 0 0;
    &-wrapper{
      position: relative;
      margin-left: 45px;
      border-radius: 0 60px 60px 60px;
      &:before{
        content: "";
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: #F2F2F2;
        border-radius: 0 60px 60px 60px;
        margin: 20px 0 0 20px;
      }
    }
    &-img{
      position: relative;
      z-index: 3;
    }
  }
}
.advantages{
  padding: 0 0 220px;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top: -50%;
    left: 0;
    background-image: url(../img/png/advantages-bakc-left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 760px;
  }
  &:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 730px;
    height: 730px;
    background-image: url(../img/png/advantsges-back-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
  &__title{
    font-family: 'Rubik Mono One',sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 121.3%;
    color: #272727;
    max-width: 600px;
    margin-bottom: 50px;
    position: relative;
  }
  &__cards{
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-flow: row wrap;
    gap: 20px 10px;
    position: relative;
    & .card{
      display: flex;
      flex-flow: column;
      background: #F6E11F;
      border-radius: 21px;
      width: 270px;
      min-height: 155px;
      flex-shrink: 0;
      padding: 15px;
      position: relative;
      z-index: 3;
      &__icon{
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        background: #FFFFFF;
        border-radius: 50%;
      }
      &__title{
        display: block;
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;
        color: #000000;
        margin-top: auto;
      }
    }
  }
  &-image{
    position: absolute;
    top: 45px;
    left: -110px;
    z-index: 2;
  }
}
.price{
  position: relative;
  &-wrapper{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgba(246, 225, 31, 0.85);
    border-radius: 185px 0 0 185px;
    margin-left: 70px;
    padding: 50px 0;
    &:before{
      content: "";
      position: absolute;
      top: 175px;
      right: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
  }
  &__tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
  }
  & .item__tab{
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 121.3%;
    color: #FFFFFF;
    padding: 40px 20px 20px;
    &_active{
      font-size: 37px;
      color: #272727;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-image: url(../img/png/active-tab.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 52px;
        height: 26px;
      }
    }
  }
  &__info{
    display: none;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    max-width: 770px;
    margin: 0 auto 60px auto;
    &_active{
      display: grid;
    }
  }
  &__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 21px;
    padding: 20px 50px;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #585858;
    &-name{
      display: block;
      font-weight: 400;
      font-size: 22px;
      line-height: 29px;
      color: #6B6B6B;
    }
  }
  &__text{
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #202020;
    max-width: 630px;
    margin: 0 auto;
  }
  &__img{
    position: absolute;
    right: -15%;
    bottom: -25%;
  }
}
.info{
  padding: 100px 0 130px;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    width: 1000px;
    height: 620px;
    background-image: url(../img/png/info-back.png);
    right: 0;
    top: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__group{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-gap: 50px;
    margin-bottom: 70px;
    position: relative;
    z-index: 2;
  }
  &__header{
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: 'Rubik Mono One',sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 138.8%;
    color: #272727;
    padding-bottom: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid #E2E2E2;
  }
  &__description{
    background: #FAFAFA;
    border-radius: 60px;
    padding: 80px 60px;
    & p{
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      color: #777777;
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }
  }
  &__gallery{
    &-img{
      &-1{
        display: block;
        position: relative;
        z-index: 2;
      }
      &-2{
        display: block;
        margin: -120px 0 0 110px;
        position: relative;
        z-index: 4;
      }
      &-3{
        display: block;
        margin: -60px 0 0;
        position: relative;
        z-index: 3;
      }
      &-4{
        display: block;
        margin: -60px 0 0 110px;
        position: relative;
        z-index: 2;
      }
    }
  }
  &__block{
    display: flex;
    align-items: center;
    background: #F6E11F;
    border-radius: 60px 60px 60px 0;
    max-width: 1030px;
    margin: 0 auto;
    padding: 35px 100px 35px 50px;
    position: relative;
    z-index: 2;
    &-el{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95px;
      height: 95px;
      flex-shrink: 0;
      font-weight: 600;
      font-size: 65px;
      line-height: 159.38%;
      color: #252525;
      background: #FFFFFF;
      box-shadow: 11px 10px 13px rgba(0, 0, 0, 0.09);
      border-radius: 17px;
      transform: rotate(45deg);
      margin-right: 40px;
      & span{
        display: block;
        transform: rotate(-45deg);
      }
    }
    &-text{
      display: block;
      font-weight: 600;
      font-size: 18px;
      line-height: 159.38%;
      color: #252525;
    }
  }
}
.services{
  padding: 0 0 150px;
  position: relative;
  &:before{
    content: "";
    width: 250px;
    height: 655px;
    position: absolute;
    top: -30%;
    left: 0;
    background-image: url(../img/png/circle-service-back.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__title{
    font-family: 'Rubik Mono One',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 121.3%;
    color: #272727;
    margin-bottom: 60px;
    position: relative;
  }
  &__cards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 40px 10px;
    .card{
      &:hover .card__content{
        transition: all 0.2s;
        top: -50px;
      }
      &__content{
        background: #FFFFFF;
        box-shadow: -12px -7px 26px rgba(0, 0, 0, 0.03), 19px 16px 25px rgba(0, 0, 0, 0.06);
        border-radius: 25px;
        min-height: 305px;
        max-height: 305px;
        display: flex;
        flex-flow: column;
        top: 0;
        justify-content: space-between;
        padding: 30px 20px;
        position: relative;
        z-index: 22;
        transition: all 0.2s;
      }
      &__img{
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 150px;
        object-fit: contain;
      }
      &__title{
        font-family: 'Rubik Mono One', sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 133.3%;
        color: #272727;
      }
      &__btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 21;
        border: none;
        width: 100%;
        font-family: 'Rubik Mono One',sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 133.3%;
        color: #272727;
        background: #F6E11F;
        box-shadow: -12px -7px 26px rgba(0, 0, 0, 0.03), 19px 16px 25px rgba(0, 0, 0, 0.06);
        border-radius: 0 17px 25px 25px;
        margin-top: -80px;
        padding: 40px 18px 15px 35px;
      }
    }
  }
}
.step{
  padding-bottom: 100px;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 50px;
    height: 460px;
    background: #F6E11F;
    border-radius: 11px;
  }
  &__title{
    font-family: 'Rubik Mono One',sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 121.3%;
    color: #272727;
    margin-bottom: 50px;
  }
  &__cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    max-width: 1000px;
    position: relative;
    & .card{
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      padding: 40px;
      background: #FFFFFF;
      box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.07);
      border-radius: 50px;
      position: relative;
      z-index: 2;
      &__icon{
        align-self: flex-end;
        margin-bottom: 40px;
      }
      &__number{
        display: block;
        background: #F6E11F;
        border-radius: 11px;
        width: fit-content;
        padding: 10px 15px;
        margin-bottom: 20px;
        font-family: 'Rubik Mono One',sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 133.3%;
        color: #272727;
      }
      &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #535353;
      }
    }
  }
  &__img{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.text-block{
  min-height: 1375px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 250px 0 330px;
  &__subTitle{
    font-family: 'Rubik Mono One',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 133.3%;
    color: #FFFFFF;
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 20px 40px;
    border: 3px solid #FFFFFF;
    border-radius: 25px 25px 0px 0px;
  }
  &__title{
    display: block;
    padding: 40px 50px;
    max-width: 1030px;
    margin: -5px auto 0;
    font-family: 'Rubik Mono One',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 140.8%;
    text-align: center;
    color: #2B2B2B;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 25px;
  }
  &__btn{
    margin: -25px auto 70px;
    padding: 16px 72px;
  }
  &__description{
    overflow-y: auto;
    max-height: 380px;
    color: #FFFFFF;
    padding-right: 80px;
    & p{
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
    }
    &::-webkit-scrollbar {
      width: 21px;
      height: 4px;
      background-color: #FFFFFF;
      border-radius: 11px;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.13);
    }
    &::-webkit-scrollbar-thumb {
      background-color: @main-color;
      border-radius: 10px;
      border: 4px solid #FFFFFF;
      box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.31);
    }
  }
}

@media (max-width: 1210px) {
  .container {
    width: 980px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 765px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .container {
    width: 100%;
  }
}