*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: #FFFFFF;
}

input, textarea, button {
  font-family: "Open Sans", sans-serif;
  outline: none;
  font-weight: 400;
  transition: all 0.2s;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: all 0.2s;
}

a:hover,
button:hover {
  cursor: pointer;
}

.container {
  width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}


@main-color: #0156FF;
@black-color: #0E0412;
@grey-color: #4F4F4F;

.btn-main {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
  background: @main-color;
  border: 1px solid @main-color;
  border-radius: 30px;
  padding: 20px 42px;
  transition: all 0.2s;
}
.m75{
  padding: 75px 0;
}
.h2{
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: #0E0412;
}
.fade {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.menu-overlay {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal_thanks {
  z-index: 99999;
  width: 455px;
  background-color: #FFFFFF;
  position: fixed;
  top: 5%;
  left: 50%;
  overflow: hidden;
  text-align: center;
  transform: translateX(-50%);
  display: none;
  border-radius: 5px;
  padding: 55px;
  &-h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: @black-color;
    text-align: center;
    display: block;
    padding-bottom: 35px;
  }

  &-p {
    display: block;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: @black-color;
  }

  &-btn {
    .btn-main;
    transition: all 0.2s;
    &:hover {
      background: transparent;
      color: @main-color;
    }
  }

  &-close {
    color: @black-color;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    &:hover {
      color: @grey-color;
    }
  }
}
.modal {
  z-index: 99999;
  width: 455px;
  background-color: #FFFFFF;
  position: fixed;
  top: 5%;
  left: 50%;
  overflow: hidden;
  text-align: center;
  transform: translateX(-50%);
  display: none;
  border-radius: 5px;
  &_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    padding: 39px 35px;
    width: 100%;
    &-h2 {
      max-width: 415px;
      margin: 0 auto;
      font-weight: 700;
      font-size: 26px;
      line-height: 30px;
      text-align: center;
      color: @black-color;
      padding-bottom: 15px;
    }
    &-p {
      font-size: 14px;
      line-height: 23px;
      text-align: center;
      color: @black-color;
      max-width: 340px;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    &_group{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      width: 100%;
      margin-bottom: 30px;
      .item{
        display: flex;
        flex-flow: column wrap;
      }
    }
    &-label{
      display: block;
      font-weight: 600;
      font-size: 15px;
      line-height: 150%;
      color: @grey-color;
      padding-bottom: 10px;
      text-align: left;
    }
    &-input {
      width: 100%;
      height: 60px;
      background: #F4F9FF;
      border: 2px solid #F4F9FF;
      font-size: 14px;
      line-height: 23px;
      color: @grey-color;
      padding-left: 28px;
      border-radius: 10px;
      &::placeholder {
        font-size: 14px;
        line-height: 23px;
        color: @grey-color;
      }
      &.error {
        border: 2px solid red;
      }
      &.valid{
        border: 2px solid green;
      }
    }
    &-btn {
      .btn-main;
      &:hover {
        background: transparent;
        color: @main-color;
      }
    }
  }
  &-close {
    color: @black-color;
    position: absolute;
    top: 10px;
    right: 20px;
    text-decoration: none;
    font-size: 40px;
    &:hover {
      cursor: pointer;
      color: @grey-color;
    }
  }
}

.header{
  position: relative;
  z-index: 99;
  background: #FFFFFF;
  &_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    &_logo{
      grid-area: header_logo;
    }
    &_phone{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      grid-area: header_phone;
      &-title{
        font-size: 14px;
        line-height: 120%;
        color: @grey-color;
      }
      &_column{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-gap: 10px;

        .item{
          display: flex;
          align-items: center;
          &-link{
            display: block;
            margin-right: 5px;
            font-weight: 600;
            font-size: 16px;
            color: #0E0412;
            &:hover{
              color: @main-color;
            }
          }
          &_icon{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 20px;
            width: 20px;
            min-height: 20px;
            height: 20px;
            margin-left: -3px;
            &:first-child{
              margin: 0;
            }
          }
        }
      }
      &_other{
        margin-left: 30px;
        &-link{
          display: block;
          margin-top: 10px;
          font-weight: 600;
          font-size: 16px;
          color: @black-color;
          &:hover{
            color: @main-color;
          }
        }
      }
    }
    &-btn{
      .btn-main;
      padding: 20px 17px;
      background: transparent;
      width: fit-content;
      color: @main-color;
      grid-area: header_btn;
      &:hover{
        background: @main-color;
        color: #ffffff;
      }
    }
  }
  &_menu{
    background: @black-color;
    &_ul{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_li{
      padding: 20px 60px;
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
      &nk{
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
        &:hover{
          color: @main-color;
        }
      }
    }
    &_mob{
      display: none;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      &_btn{
        display: flex;
        align-items: center;
        transition: all 0.2s;
        &.active .line {
          &:nth-child(2){
            display: none;
          }
          &:nth-child(1){
            width: 20px;
            transform: rotate(45deg);
            margin: 0;
          }
          &:nth-child(3){
            width: 20px;
            transform: rotate(-45deg);
            margin: 0;
          }
        }
        &-icon{
          width: 30px;
          height: 30px;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-flow: column wrap;
          transition: all 0.2s;
          .line{
            display: block;
            width: 17px;
            height: 1px;
            background: #FFFFFF;
            border-radius: 3.33333px;
            margin: 2px 0;
            transition: all 0.2s;
            &:nth-child(2){
              width: 13px;
            }
          }
        }
        &-name{
          display: block;
          margin-left: 6px;
          font-weight: 600;
          font-size: 14px;
          line-height: 120%;
          color: #FFFFFF;
        }
      }
      &-btn{
        .btn-main;
        background: transparent;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        padding: 15px 20px;
        font-size: 14px;
        &:hover{
          background: @main-color;
          border: 1px solid @main-color;
        }
      }
    }
  }
  &_mob_menu{
    display: none;
    background: @black-color;
    padding: 20px 15px 0 15px;
    &_ul{
      display: flex;
      align-items: flex-start;
      flex-flow: column wrap;
    }
    &_li{
      padding: 15px 0;
      width: 100%;
      border-top: 1px solid #E0E0E0;
      &nk{
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
        &:hover{
          color: @main-color;
        }
      }
    }
  }
}

.banner{
  min-height: 660px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &_group{
    display: block;
    padding: 0 15px;
    max-width: 1330px;
    margin: 0 auto;
    padding-bottom: 35px;
    &-h1{
      font-weight: 700;
      font-size: 45px;
      line-height: 120%;
      text-align: center;
      color: #FFFFFF;
      padding-bottom: 20px;
      text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }
    &-p{
      font-weight: 600;
      font-size: 36px;
      line-height: 120%;
      text-transform: uppercase;
      color: #FFFFFF;
      text-align: center;
      text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }
  }
}
.services{
  &_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    position: relative;
    z-index: 9;
    .card{
      &:first-child{
        position: relative;
        height: 410px;
      }
      &_bg{
        position: absolute;
        top: -75px;
        right: 0;
        width: 200%;
        height: 120%;
        z-index: 2;
        background: #F5F9FF;
      }
      &_visible{
        position: relative;
        z-index: 9;
      }
      &-h2{
        padding-bottom: 20px;
      }
      &-p{
        max-width: 340px;
        font-size: 16px;
        line-height: 160%;
        color: #4F4F4F;
        padding-bottom: 30px;
        & a{
          color: @main-color;
          font-weight: 600;
          &:hover{
            color: @black-color;
          }
        }
      }
      &-btn{
        .btn-main;
        &:hover{
          background: transparent;
          color: @main-color;
        }
      }
      &_top{
        height: 200px;
        margin-bottom: 20px;
        &-img{
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &_content{
        &-title{
          font-weight: 600;
          font-size: 20px;
          line-height: 120%;
          color: @black-color;
          padding-bottom: 20px;
        }
        &-text{
          font-size: 16px;
          line-height: 160%;
          color: #4F4F4F;
          & a{
            color: @main-color;
            font-weight: 600;
            &:hover{
              color: @black-color;
            }
          }
        }
      }
    }
  }
}
.about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background:  @black-color;
  justify-items: end;
  &_info{
    padding: 95px 90px 95px 15px;
    max-width: 665px;
    &-h2{
      color: #FFFFFF;
      padding-bottom: 20px;
    }
    &-p{
      font-size: 18px;
      line-height: 160%;
      color: #FFFFFF;
    }
  }
  &_swiper{
    width: 100%;
    height: 450px;
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    &-img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}
.advantages{
  &-h2{
    display: block;
    text-align: center;
    padding-bottom: 60px;
    max-width: 865px;
    margin: 0 auto;
  }
  &_box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
    .item{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      &_left{
        margin-right: 20px;
      }
      &_right{
        &-title{
          font-weight: 600;
          font-size: 20px;
          line-height: 120%;
          color: @black-color;
          padding-bottom: 20px;
        }
        &-text{
          font-size: 16px;
          line-height: 160%;
          color: @grey-color;
        }
      }
    }
  }
  &-img{
    display: block;
    margin: 25px auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  &_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    .card{
      padding: 20px 5px 15px 30px;
      border: 1px solid #E0E0E0;
      &-title{
        display: block;
        max-width: 360px;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color: @black-color;
        padding-bottom: 15px;
        & span{
          color: @main-color;
        }
      }
      &-text{
        font-size: 16px;
        line-height: 160%;
        color: @grey-color;
        & a{
          color: @main-color;
          font-weight: 600;
          &:hover{
            color: @black-color;
          }
        }
      }
    }
  }
}
.moving{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background:  @black-color;
  justify-items: end;
  &_info{
    padding: 95px 90px 95px 15px;
    max-width: 665px;
    &-h2{
      color: #FFFFFF;
      padding-bottom: 20px;
    }
    &-p{
      font-size: 18px;
      line-height: 160%;
      color: #FFFFFF;
    }
  }
  &-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &_bg{
    background: #F5F9FF;
  }
  &_group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px;
    .item{
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      &-title{
        padding-bottom: 25px;
      }
      &-text{
        font-size: 18px;
        line-height: 160%;
        color: @black-color;
        padding-bottom: 25px;
        & a{
          font-weight: 600;
          color: @main-color;
          &:hover{
            color: @grey-color;
          }
        }
      }
      &-btn{
        .btn-main;
        width: fit-content;
        margin-bottom: 40px;
        &:hover{
          background: transparent;
          color: @main-color;
        }
      }
      &_list{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        &-p{
          padding: 15px 75px 15px 25px;
          border: 1px solid #E0E0E0;
          font-size: 16px;
          line-height: 160%;
          color: #333333;
        }
      }
      &-h3{
        font-weight: 700;
        font-size: 23px;
        line-height: 140%;
        color: @black-color;
        padding-bottom: 35px;
      }
      &_cards{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        .card{
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          background: #FFFFFF;
          &_left{
            height: 100%;
            &-img{
              min-width: 200px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          &_right{
            padding: 20px 40px 5px 20px;
            &-title{
              font-weight: 600;
              font-size: 18px;
              line-height: 140%;
              color: @black-color;
              padding-bottom: 15px;
            }
            &-text{
              font-size: 16px;
              line-height: 160%;
              color: @grey-color;
            }
          }
        }
      }
    }
  }
}
.reviews{
  &-h2{
    text-align: center;
    padding-bottom: 35px;
  }
  &_swiper{
    display: block;
    margin: 0 auto;
    max-width: 1160px;
    padding-bottom: 50px;
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide{
      background: #F5F9FF;
      padding: 70px 110px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      &-icon{
        margin-right: 30px;
      }
      &_info{
        margin-top: -7px;
        &-text{
          font-size: 18px;
          line-height: 160%;
          color: #333333;
          padding-bottom: 20px;
        }
        &-name{
          display: block;
          font-weight: 600;
          font-size: 15px;
          line-height: 160%;
          color: @black-color;
        }
      }
    }
    .swiper-pagination-bullet{
      width: 12px;
      height: 12px;
    }
    .swiper-pagination-bullet-active{
      background: @main-color;
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets{
      bottom: 0;
    }
  }
}
.contacts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #F5F9FF;
  justify-items: end;
  position: relative;
  &_info{
    padding-right: 330px;
    padding-left: 15px;
    &.container{
      width: auto;
      padding-right: 330px;
      padding-left: 15px;
      margin: 0;
    }
    &-h2{
      padding-bottom: 40px;
    }
    &_box{
      display: flex;
      flex-flow: column;
      margin-bottom: 30px;
      &-title{
        display: block;
        font-size: 16px;
        line-height: 120%;
        color: @grey-color;
        padding-bottom: 15px;
      }
      &_group{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        .item{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          &-link{
            font-weight: 600;
            font-size: 23px;
            color: @black-color;
            &:hover{
              color: @main-color;
            }
          }
          &_icon{
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10px;
          }
          &-name{
            font-size: 16px;
            line-height: 120%;
            color: @black-color;
          }
        }
      }
    }
    &-address{
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      color: @black-color;
      padding-bottom: 10px;
    }
    &-link{
      display: block;
      font-size: 14px;
      line-height: 120%;
      color: @main-color;
      margin-bottom: 30px;
    }
    &-mail{
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      color: @black-color;
      &:hover{
        color: @main-color;
      }
    }
  }
  &_bg{
    background:  @black-color;
    width: 100%;
  }
  &_form{
    padding-left: 145px;
    padding-right: 15px;
    &-h2{
      color: #FFFFFF;
      padding-bottom: 20px;
    }
    &-p{
      display: block;
      font-size: 18px;
      line-height: 160%;
      color: #FFFFFF;
      max-width: 505px;
      padding-bottom: 30px;
    }
    &_group{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      max-width: 505px;
      margin-bottom: 20px;
      .item{
        &-label{
          display: block;
          font-weight: 600;
          font-size: 15px;
          line-height: 150%;
          color: #FFFFFF;
          padding-bottom: 10px;
          & span{
            color: red;
          }
        }
        &-input{
          width: 100%;
          height: 60px;
          border: 1px solid #E0E0E0;
          border-radius: 4px;
          font-weight: 600;
          font-size: 15px;
          line-height: 150%;
          color: @grey-color;
          padding-left: 20px;
          &.error{
            border: 1px solid red;
          }
          &.valid{
            border: 1px solid green;
          }
        }
      }
    }
    &-btn{
      .btn-main;
      &:hover{
        background: transparent;
        color: #FFFFFF;
      }
    }
  }
  &-img{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -280px;
  }
}
.footer{
  padding: 30px 0;
  &_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-p{
      font-size: 14px;
      line-height: 140%;
      color: @grey-color;
      & a{
        font-weight: 600;
        color: @main-color;
        &:hover{
          color: @black-color;
        }
      }
    }
  }
}



@media (max-width: 1330px) {
  .container {
    width: 980px;
  }
  .header{
    &:before{
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #E0E0E0;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      margin-top: -23px;
    }
    &_top{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "header_logo header_btn" "header_phone header_phone";
      grid-row-gap: 35px;
      justify-items: end;
      padding: 20px 0;
      &_phone{
        width: 100%;
        &_column{
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          grid-gap: 10px;
          width: 80%;
        }
      }
      &-btn{
        .btn-main;
        padding: 20px 17px;
        background: transparent;
        width: fit-content;
        color: @main-color;
        grid-area: header_btn;
        &:hover{
          background: @main-color;
          color: #ffffff;
        }
      }
    }
    &_menu{
      &_li{
        padding: 20px 33px;
      }
    }
  }
  .banner{
    min-height: 450px;
    &_group{
      display: block;
      padding: 0 15px;
      max-width: 1330px;
      margin: 0 auto;
      padding-bottom: 15px;
      &-h1{
        font-size: 30px;
        line-height: 120%;
      }
      &-p{
        font-size: 26px;
        line-height: 120%;
      }
    }
  }
  .about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:  @black-color;
    &_info{
      padding: 95px 15px 95px 15px;
      max-width: 665px;
    }
  }
  .moving{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:  @black-color;
    &_info{
      padding: 95px 15px 95px 15px;
      max-width: 665px;
    }
    &_group{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 40px;
    }
  }
  .contacts{
    display: grid;
    grid-template-columns: 1fr;
    background: #F5F9FF;
    justify-items: end;
    position: relative;
    &_info{
      padding-right: 0;
      padding-left: 0;
      &.container{
        width: 980px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
      }
    }
    &_form{
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
      width: 980px;
      &_group{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        max-width: 100%;
        margin-bottom: 20px;
      }
    }
    &-img{
      position: absolute;
      bottom: inherit;
      top: 24px;
      left: inherit;
      right: 15px;
      margin-left: 0;
    }
  }
  .footer{
    padding: 30px 0;
    &_row{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column wrap;
      &_logo{
        margin-bottom: 40px;
      }
      &-p{
        font-size: 14px;
        line-height: 140%;
        color: @grey-color;
        padding: 10px 0;
      }
    }
  }
}
@media (max-width: 991px) {
  .container {
    width: 765px;
  }
  .h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
  }
  .header{
    position: relative;
    &_top{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "header_logo header_btn" "header_phone header_phone";
      grid-row-gap: 35px;
      justify-items: end;
      padding: 20px 0;
      &_phone{
        width: 100%;
        &_column{
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          grid-gap: 10px;
          width: 77%;
        }
      }
      &-btn{
        .btn-main;
        padding: 20px 17px;
        background: transparent;
        width: fit-content;
        color: @main-color;
        grid-area: header_btn;
        &:hover{
          background: @main-color;
          color: #ffffff;
        }
      }
    }
    &_menu{
      &_li{
        padding: 20px;
        &nk{
          font-size: 14px;
        }
      }
    }
  }
  .services{
    &_cards{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 20px;
      grid-row-gap: 50px;
      position: relative;
      z-index: 9;
      .card{
        &:first-child{
          position: relative;
          height: 410px;
        }
      }
    }
  }
  .about{
    display: grid;
    grid-template-columns: 1fr;
    background:  @black-color;
    justify-items: start;
    &_info{
      padding: 45px 15px;
      max-width: 100%;
      &-h2{
        color: #FFFFFF;
        padding-bottom: 20px;
      }
      &-p{
        font-size: 18px;
        line-height: 160%;
        color: #FFFFFF;
      }
    }
    &_swiper{
      width: 100%;
      height: 100%;
    }
  }
  .advantages{
    &_box{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
    &_cards{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 20px;
    }
  }
  .moving{
    display: grid;
    grid-template-columns: 1fr;
    background:  @black-color;
    justify-items: start;
    &_info{
      padding: 45px 15px;
      max-width: 100%;
      &-h2{
        color: #FFFFFF;
        padding-bottom: 20px;
      }
      &-p{
        font-size: 18px;
        line-height: 160%;
        color: #FFFFFF;
      }
    }
    &-img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .reviews{
    &_swiper{
      .swiper-slide{
        background: #F5F9FF;
        padding: 40px 20px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }
  .contacts{
    display: grid;
    grid-template-columns: 1fr;
    background: #F5F9FF;
    justify-items: end;
    position: relative;
    &_info{
      &.container{
        width: 765px;
      }
    }
    &_form{
      width: 765px;
      &-p{
        display: block;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
        max-width: 540px;
        padding-bottom: 30px;
      }
    }
    &-img{
      position: absolute;
      top: 16px;
    }
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .m75{
    padding: 45px 0;
  }
  .header{
    position: relative;
    &:before{
      display: none;
    }
    &_top{
      display: flex;
      align-items: center;
      justify-content: center;
      &_phone{
        display: none;
      }
      &-btn{
       display: none;
      }
    }
    &_menu{
      &_ul{
        display: none;
      }
      &_mob{
        display: flex;
      }
    }
  }

  .services{
    &_cards{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      position: relative;
      z-index: 9;
      .card{
        &:first-child{
          position: relative;
          height: 330px;
        }
        &_bg{
          position: absolute;
          top: -40px;
          right: -15px;
          width: 200%;
          height: 110%;
          z-index: 2;
          background: #F5F9FF;
        }
        &_visible{
          position: relative;
          z-index: 9;
        }
      }
    }
  }
  .advantages{
    &_cards{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }

  .contacts{
    &_info{
      &.container{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
      }
    }
    &_form{
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
    &-img{
      display: none;
    }
  }
}
@media (max-width: 479px) {
  .container {
    width: 100%;
  }
  .m75{
    padding: 40px 0;
  }
  .h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
  }
  .btn-main {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
    background: @main-color;
    border: 1px solid @main-color;
    border-radius: 30px;
    padding: 17px 28px;
    transition: all 0.2s;
  }
  .modal_thanks {
    width: 90%;
    padding: 55px 10px;
  }
  .modal {
    width: 90%;
    &_form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column wrap;
      padding: 39px 10px;
      width: 100%;
      &-btn {
        .btn-main;
        &:hover {
          background: transparent;
          color: @main-color;
        }
      }
    }
  }

  .header{
    position: relative;
    z-index: 99;
    background: #FFFFFF;
    &_top{
      &_logo{
        & img{
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  .banner{
    min-height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    &_group{
      display: block;
      padding: 0 15px;
      max-width: 1330px;
      margin: 0 auto;
      padding-bottom: 10px;
      &-h1{
        font-size: 20px;
        line-height: 120%;
      }
      &-p{
        font-size: 16px;
        line-height: 120%;
      }
    }
  }
  .services{
    &_cards{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 40px;
      position: relative;
      z-index: 9;
      .card{
        &:first-child{
          position: relative;
          height: 250px;
        }
        &_bg{
          position: absolute;
          top: -40px;
          right: -15px;
          width: 130%;
          height: 120%;
          z-index: 2;
          background: #F5F9FF;
        }
        &_visible{
          position: relative;
          z-index: 9;
        }
        &-h2{
          padding-bottom: 20px;
        }
        &-p{
          max-width: 100%;
          font-size: 14px;
          line-height: 160%;
          color: #4F4F4F;
          padding-bottom: 20px;
          & a{
            color: @main-color;
            font-weight: 600;
            &:hover{
              color: @black-color;
            }
          }
        }
        &-btn{
          .btn-main;
          &:hover{
            background: transparent;
            color: @main-color;
          }
        }
        &_top{
          height: 200px;
          margin-bottom: 20px;
          &-img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &_content{
          &-title{
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            color: @black-color;
            padding-bottom: 20px;
          }
          &-text{
            font-size: 14px;
            line-height: 160%;
            color: #4F4F4F;
            & a{
              color: @main-color;
              font-weight: 600;
              &:hover{
                color: @black-color;
              }
            }
          }
        }
      }
    }
  }
  .about{
    display: grid;
    grid-template-columns: 1fr;
    background:  @black-color;
    justify-items: start;
    &_info{
      padding: 40px 15px;
      max-width: 100%;
      &-h2{
        color: #FFFFFF;
        padding-bottom: 20px;
      }
      &-p{
        font-size: 14px;
        line-height: 160%;
        color: #FFFFFF;
      }
    }

  }
  .advantages{
    &-h2{
      display: block;
      text-align: center;
      padding-bottom: 40px;
      max-width: 865px;
      margin: 0 auto;
    }
    &_box{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 25px;
      .item{
        &_right{
          &-title{
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            color: @black-color;
            padding-bottom: 20px;
          }
          &-text{
            font-size: 14px;
            line-height: 160%;
            color: @grey-color;
          }
        }
      }
    }
    &-img{
      display: block;
      margin: 20px auto;
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
    &_cards{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      .card{
        padding: 20px 17px 15px 17px;
        border: 1px solid #E0E0E0;
        &-title{
          display: block;
          max-width: 360px;
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          color: @black-color;
          padding-bottom: 15px;
        }
        &-text{
          font-size: 14px;
          line-height: 160%;
          color: @grey-color;
        }
      }
    }
  }
  .moving{
    display: grid;
    grid-template-columns: 1fr;
    background:  @black-color;
    justify-items: start;
    &_info{
      padding: 40px 15px;
      max-width: 100%;
      &-h2{
        color: #FFFFFF;
        padding-bottom: 20px;
      }
      &-p{
        font-size: 14px;
        line-height: 160%;
        color: #FFFFFF;
      }
    }
    &_group{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 40px;
      .item{
        &-title{
          padding-bottom: 20px;
        }
        &-text{
          font-size: 14px;
          line-height: 160%;
          color: @black-color;
          padding-bottom: 20px;
        }
        &-btn{
          .btn-main;
          width: fit-content;
        }
        &_list{
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 20px;
          &-p{
            padding: 10px 20px;
            border: 1px solid #E0E0E0;
            font-size: 14px;
            line-height: 160%;
            color: #333333;
          }
        }
        &-h3{
          font-weight: 700;
          font-size: 20px;
          line-height: 140%;
          color: @black-color;
          padding-bottom: 20px;
        }
        &_cards{
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 20px;
          .card{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-flow: column wrap;
            background: #FFFFFF;
            &_left{
              height: 170px;
              width: 100%;
              &-img{
                min-width: inherit;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            &_right{
              padding: 17px;
              &-title{
                font-weight: 600;
                font-size: 16px;
                line-height: 140%;
                color: @black-color;
                padding-bottom: 15px;
              }
              &-text{
                font-size: 14px;
                line-height: 160%;
                color: @grey-color;
              }
            }
          }
        }
      }
    }
  }
  .reviews{
    &-h2{
      text-align: center;
      padding-bottom: 30px;
    }
    &_swiper{
      padding-bottom: 30px;
      .swiper-slide{
        background: #F5F9FF;
        padding: 35px 15px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        &-icon{
          margin-right: 20px;
        }
        &_info{
          margin-top: -7px;
          &-text{
            font-size: 14px;
            line-height: 160%;
            color: #333333;
            padding-bottom: 20px;
          }
          &-name{
            display: block;
            font-weight: 600;
            font-size: 14px;
            line-height: 160%;
            color: @black-color;
          }
        }
      }
    }
  }
  .contacts{
    display: grid;
    grid-template-columns: 1fr;
    &_info{
      &-h2{
        padding-bottom: 30px;
      }
      &_box{
        display: flex;
        flex-flow: column;
        margin-bottom: 20px;
        &-title{
          display: block;
          font-size: 14px;
          line-height: 120%;
          color: @grey-color;
          padding-bottom: 10px;
        }
        &_group{
          .item{
            &-link{
              font-weight: 600;
              font-size: 18px;
              color: @black-color;
              &:hover{
                color: @main-color;
              }
            }
            &_icon{
              width: 25px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 10px;
            }
            &-name{
              font-size: 14px;
              line-height: 120%;
              color: @black-color;
            }
          }
        }
      }
      &-address{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: @black-color;
        padding-bottom: 10px;
      }
      &-link{
        display: block;
        font-size: 14px;
        line-height: 120%;
        color: @main-color;
        margin-bottom: 30px;
      }
      &-mail{
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: @black-color;
        &:hover{
          color: @main-color;
        }
      }
    }
    &_form{
      padding-right: 15px;
      padding-left: 15px;
      &-h2{
        color: #FFFFFF;
        padding-bottom: 20px;
      }
      &-p{
        display: block;
        font-size: 14px;
        line-height: 160%;
        color: #FFFFFF;
        max-width: 505px;
        padding-bottom: 20px;
      }
      &_group{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        max-width: 505px;
        margin-bottom: 20px;
        .item{
          &-label{
            display: block;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            color: #FFFFFF;
            padding-bottom: 10px;
            & span{
              color: red;
            }
          }
          &-input{
            width: 100%;
            height: 50px;
            border: 1px solid #E0E0E0;
            border-radius: 4px;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            color: @grey-color;
            padding-left: 20px;
          }
        }
      }
      &-btn{
        .btn-main;
      }
    }
  }

  .footer{
    padding: 30px 0;
    &_row{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column wrap;
      &_logo{
        margin-bottom: 20px;
        & img{
          display: block;
          max-width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
      &-p{
        font-size: 14px;
        line-height: 140%;
        color: @grey-color;
        padding: 10px 0;
        text-align: center;
      }
    }
  }
}