@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7i1580');
  src:  url('fonts/icomoon.eot?7i1580#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7i1580') format('truetype'),
    url('fonts/icomoon.woff?7i1580') format('woff'),
    url('fonts/icomoon.svg?7i1580#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
  content: "\e900";
}
.icon-adv_1:before {
  content: "\e901";
}
.icon-adv_2:before {
  content: "\e902";
}
.icon-adv_3:before {
  content: "\e903";
}
.icon-adv_4:before {
  content: "\e904";
}
.icon-adv_5:before {
  content: "\e905";
}
.icon-adv_6:before {
  content: "\e906";
}
.icon-adv_7:before {
  content: "\e907";
}
.icon-adv_8:before {
  content: "\e908";
}
.icon-adv_9:before {
  content: "\e909";
}
.icon-location:before {
  content: "\e90a";
}
.icon-logo_des:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e90c";
}
.icon-skype_des:before {
  content: "\e90d";
}
.icon-viber:before {
  content: "\e90e";
}
.icon-vk:before {
  content: "\e912";
}
.icon-whatsapp:before {
  content: "\e914";
}
