@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jkdpz9');
  src:  url('fonts/icomoon.eot?jkdpz9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jkdpz9') format('truetype'),
    url('fonts/icomoon.woff?jkdpz9') format('woff'),
    url('fonts/icomoon.svg?jkdpz9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adv_1:before {
  content: "\e900";
}
.icon-adv_2:before {
  content: "\e901";
}
.icon-adv_3:before {
  content: "\e902";
}
.icon-adv_4:before {
  content: "\e903";
}
.icon-monitor:before {
  content: "\e904";
}
.icon-mouse:before {
  content: "\e905";
}
.icon-team:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e909";
}
.icon-youtube:before {
  content: "\e908";
}
.icon-vk:before {
  content: "\e907";
}
