@font-face {
    font-family: 'MrsEavesItalic';
    src: url('MrsEavesItalic.eot');
    src: url('MrsEavesItalic.eot?#iefix') format('embedded-opentype'),
        url('MrsEavesItalic.woff') format('woff'),
        url('MrsEavesItalic.ttf') format('truetype'),
        url('MrsEavesItalic.svg#MrsEavesItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe WP';
    src: url('SegoeWP-Light.eot');
    src: url('SegoeWP-Light.eot?#iefix') format('embedded-opentype'),
        url('SegoeWP-Light.woff') format('woff'),
        url('SegoeWP-Light.ttf') format('truetype'),
        url('SegoeWP-Light.svg#SegoeWP-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-Semibold.eot');
    src: url('SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
        url('SegoeUI-Semibold.woff') format('woff'),
        url('SegoeUI-Semibold.ttf') format('truetype'),
        url('SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Univers CE 45';
    src: url('UniversCE-Light.eot');
    src: url('UniversCE-Light.eot?#iefix') format('embedded-opentype'),
        url('UniversCE-Light.woff') format('woff'),
        url('UniversCE-Light.ttf') format('truetype'),
        url('UniversCE-Light.svg#UniversCE-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

